<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %}Untitled Document{% endblock %}</title>
<link href="{{ STATIC_URL }}loginPortal/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>


	<div id="page">
	{% block page %}
	
	{% endblock %}	
		<div id="content">
    	{% block content %}
 
		{% endblock content %}
  			<div id="buttons">
  			{% block buttons %}


			{% endblock buttons %}
			</div>
			<br />
			{% block hourinfo %}
			{% endblock hourinfo%}	
		
		<br />
		
        
   				 <img src="{{ STATIC_URL }}loginPortal/images/wfhb.gif" />
    
    	</div>
    
    
    </div>

</body>
</html>
