{% extends "loginPortal/base.html" %}
{% block title %} Clock-Out {% endblock %}

{% block page %}
	<span style="float: right">
	 (Running, current time) WELCOME, {{ user }}
	</span>	
	<br /><br />
{% endblock %}	
	
{% block buttons %}
<form action="/login/out/" method="POST" enctype="multipart/form-data" >{% csrf_token %}
	<center><input type="submit" id="submitbutton" value="CLOCK-OUT">
</form>
<br />
             
        			<a id="submitbutton" href="missedpunch.html">
        			MISSED PUNCH
					</a>
					<p>Click <a href="/login/logout">here</a> to logout<p>
{% endblock %}	