{% extends "loginPortal/base.html" %}

{% block title %} Clock-In {% endblock %}

{% block page %}
	<span style="float: right">
	 {{ welcome }}
	</span>	
	<br /><br />
{% endblock %}	
	
{% block buttons %}						
 					<select class="dropdownmenu" required>
  					<option value="" style="display: none">Select Your Department</option>
 					<option value="Administration">Administration</option>
  					<option value="News">News</option>
  					<option value="Music">Music</option>
  					<option value="Other">Other</option>
					</select>
	
									<br /><br />
										<br />	
										
			<!-- THE CLOCK-IN AND MISSED PUNCH BUTTONS -->							
						<a id="submitbutton" href="clock_out">
        				CLOCK-IN
        				</a>
             
       					<a id="submitbutton" href="missedpunch">
        				MISSED PUNCH
						</a>
						
						<p>Click <a href="/login/logout">here</a> to logout<p>
{% endblock %}	