{% extends "loginPortal/base.html" %}
{% block title %} Login {% endblock %}

{% block page %}
<div id="login">
	LOG IN TO YOUR WFHB ACCOUNT<br>
	 <a id = "changepassword" href='/login/newpassword/'>Change Password</a>

</div>
{% if messages %}
{% for message in messages %}
<div "{% if message.tags %}" class="{{ message.tags }}" "{% endif %}">
	{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }} {% endif %}
</div>
{% endfor %}
{% endif %}

{% endblock %}


{% block buttons %}
 
<form action="/login/auth/" method="POST" enctype="multipart/form-data" >{% csrf_token %}


<table>

	<tr>
		<td>

			<input id="logininput" placeholder="EMAIL" type="text" name="email" required>

		</td>					
		
	</tr>


	<tr>	   
		<td>
			<input id="logininput" placeholder="PASSWORD" type="password" name="password"  required>
		</td>

	</tr>

</table>
	<br />
								
<center><button id="submitbutton" type="submit" value="SUBMIT">LOG IN</button></center>
</form>
<center><a href = '/login/regi/'><button id="submitbutton">Register</button></a>
{% endblock %}				
