<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Log In</title>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'loginPortal/style.css' %}" />
</head>

<body>

<div id="page">

<span style="float: right">
(Running Current Time)
</span>
	
		<br /><br />
	<div id="dropdown">
    
    <div id="button">
 
		<h1>LOG IN</h1>
 
 		<form action="/login/auth/" method="POST" enctype="multipart/form-data" >{% csrf_token %}
	
<label style="display: table-column; float: left;">EMAIL:</label>
<input style="display: table-column" type="text" name="email" value="" required="required">
    
			<br><br />
             
<label style="display: table-column; float: left">PASSWORD:</label>        
<input style="display: table-column" type="text" name="password" value ="" required="required">
    
			<br/ ><br />
            
<input id="mybutton" type="submit" value="SUBMIT">
</form>
        </div>
       	 <br /><br />
        	<img src="/static/loginPortal/images/wfhb.gif" />
	</div>
	
    	</div>

</div>

</body>
</html>
