{% extends "loginPortal/base.html" %}
{% block title %} Login {% endblock %}


{% block buttons %}
 	<h1>LOG IN</h1>
 
 				<form action="/login/auth/" method="POST" enctype="multipart/form-data" >{% csrf_token %}
	
				
					<label>EMAIL:</label>
					
					
						<input type="text" name="email" value="" required>
										
										<br />
   					   
					<label>PASSWORD:</label> 
					   
						<input type="password" name="password" value="" required>
            
            							<br />
            
						<center><input type="submit" id="submitbutton"  value="SUBMIT"></center>

				</form>
{% endblock %}				
