{% extends "loginPortal/base.html" %}
{% block title %} Missed Punch {% endblock %}


{% block page %}

	<span style="float: left; padding: 1%; text-align: left;">
	Total Hours: {{ overall_hours }}
	<br />
	
	Total Quarterly Hours: {{ quarterly_hours }}
	</span>
	
	<span id="logoutbutton">
	<a href="/login/logout">LOGOUT</a>
	</span>
	
	<br />
	<span style="float: right; padding-right: 1%;">
	 WELCOME, {{ user }}
	</span>	
	
	<br /><br />

{% endblock %}	

{% block buttons %}	

<form action="/login/missrequest/" method="POST" enctype="multipart/form-data" >{% csrf_token %}
 					 	
 	<br /><br />
     				
    <span style="background-color: #E4E4E4; padding: 2%;">
    
      				
    	<select class="dropdownmenu" name="misstable">
			<option selected style="display: none">Choose One:</option>
			<option value="clock_in">CLOCK-IN</option>
			<option value="clock_out">CLOCK-OUT</option>
		</select>
        			
	<br /><br />
	<input  type="text" name="datepick" placeholder="Date: YYYY-MM-DD" id="d" required/> 
						
	<input type="text" name="missedpunch" placeholder="MISSED TIME: 00:00" required>
								
	<span style="color: black; font-size: 15px; background-color: none;">
		<input type="radio" name="sex" value="male">AM
		<input type="radio" name="sex" value="female">PM
	</span>
	
<center> <input id="submitbutton" value="SUBMIT" type="submit"> </center>
						
</form>				
				
							
<br /><br /><br /><br /><br /><br />
					
{% endblock %}	