{% extends "loginPortal/base.html" %}
{% block title %} Missed Punch {% endblock %}


{% block page %}

	<span style="float: left; padding-left: 1%; text-align: left;">
	Total Hours: {{ overall_hours }}
	<br />
	
	Total Quarterly Hours: {{ quarterly_hours }}
	</span>
	
	<span id="logoutbutton">
	<a href="/login/logout">LOGOUT</a>
	</span>
	
	<br />
	<span style="float: right; padding-right: 1%;">
	 WELCOME, {{ user }}
	</span>	
	
	<br /><br />
	
	{% if messages %}
	{% for message in messages %}
	<div "{% if message.tags %}" class="{{ message.tags }}" "{% endif %}">
		{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }} {% endif %}
	</div>
	{% endfor %}
	{% endif %}
	

{% endblock %}	

{% block buttons %}	

<form action="/login/missrequest/" method="POST" enctype="multipart/form-data" >{% csrf_token %}
 					 	
 	<br /><br />
     				
    <span style="background-color: #E4E4E4; padding: 2%;">
    
      				
    	<select class="dropdownmenu" name="misstable" required>
			<option value="clock_in">CLOCK-IN</option>
			<option value="clock_out">CLOCK-OUT</option>
		</select>
        			
	<br /><br />
	<input  type="text" name="datepick" placeholder="DATE: YYYY-MM-DD" id="inputfield" required/> 
						
	<input type="text" name="missedpunch" placeholder="MISSED TIME: 00:00" id="inputfield"required>
								
	<span style="color: black; font-size: 15px; background-color: none;">
		<input type="radio" name="sex" value="male" required/>AM
		<input type="radio" name="sex" value="female" required/>PM
	</span>
	
<center> <input id="submitbutton" value="SUBMIT" type="submit"> </center>
						
</form>
				
							
<br /><br /><br /><br /><br /><br />
					
{% endblock %}	
{% block hourinfo%} 
<div id="hourinfo">
	<table id="session_table">
		<th>Dates</th><th>Hours</th>
		{% for session in last_seven %}
		<tr>
			<td> {{ session.0 }} </td> <td>{{ session.1 }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}