{% extends "loginPortal/base.html" %}

{% block title %} Forgot Password {% endblock %}

{% block page %} 

<div id="login">
	PASSWORD RESET<br>
</div>

<div class="info">
Please enter your email and we will send you a link to a page where you can reset your password.
</div>

{% endblock %}

{% block buttons %}
<form action="/login/newpasswordbuff/" method="POST" enctype="multipart/form-data" >{% csrf_token %}			
	<center><input type="text" name="email" placeholder="EMAIL">
	<center><input type="submit" id="submitbutton" value="SUBMIT">
</form>

 <br />
 {% endblock %}