{% extends "loginPortal/base.html" %}

{% block title %} Forgot Password {% endblock %}

{% block page %} Please enter your email and the code that was sent to you. {% endblock %}

{% block buttons %}
<form action="/login/setpasswordbuff/" method="POST" enctype="multipart/form-data" >{% csrf_token %}			
	<center><input type="text" name="email" value = "email" required>
	<center><input type="text" name="code" value="code" required>
	<center><input id="logininput" placeholder="PASSWORD" type="password" name="password"  required>
	<center><input type="submit" id="submitbutton" value="SUBMIT">
</form>

 <br />
 {% endblock %}