{% extends "loginPortal/base.html" %}

{% block title %} Forgot Password {% endblock %}

{% block page %} 
Please enter your email and the code that was sent to you. 

{% if messages %}
{% for message in messages %}
<div "{% if message.tags %}" class="{{ message.tags }}" "{% endif %}">
	{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }} {% endif %}
</div>
{% endfor %}
{% endif %}
{% endblock %}

{% block buttons %}
<form action="/login/setpasswordbuff/" method="POST" enctype="multipart/form-data" >{% csrf_token %}			
	<center><input type="text" name="email" placeholder="EMAIL" id="inputfield"required>
	<center><input type="text" name="code" placeholder="CODE" id="inputfield"required>
	<center><input id="inputfield" placeholder="PASSWORD" type="password" name="password"  required>
	<center><input id="inputfield" placeholder="PASSWORD" type="password" name="password2"  required>
	<center><input type="submit" id="submitbutton" value="SUBMIT">
</form>

 <br />
 {% endblock %}