<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>


<div id="page">

<span style="float: right">
(Running Current Time) Welcome, user!
</span>
		<br /><br />
	<div id="dropdown">
 
		<select class="dropdownmenu">
  <option title="Choose">Choose Department First...</option>
  <option value="Administration">Administration</option>
  <option value="News">News</option>
  <option value="Music">Music</option>
  <option value="Other">Other</option>
		</select>
        


		<br /><br />

  <div id="button">


		<a href="index.html">
        CLOCK-OUT
        </a>
             
        <a href="missedpunch.html">
        MISSED PUNCH
		</a>

	</div>
    
    <br />

Total hours of volunteer work in this department: 13.2

	<br /><br />

		<img src="wfhb.gif" />

	</div>
    
</div>

</body>
</html>
