<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Missed Punch</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="page">

<span style="float: right">
(Running Current Time) Welcome, user!
</span>

		<br /><br />
	<div id="dropdown">
 
    	<div id="button">
        <table>
     	<form>
	<tr><input type="radio" name="group1" value="clock-in">			    </tr>
	<tr> <span style="color: #c41230">CLOCK-IN</span></tr>
		
	<tr><input type="radio" name="group1" value="clock-out"> </tr>	
    <tr><span style="color: #c41230">CLOCK-OUT</span></tr>
		</form> 
        </table>
        
           <select class="dropdownmenu">
  <option title="Choose">Choose Department...</option>
  <option value="Administration">Administration</option>
  <option value="News">News</option>
  <option value="Music">Music</option>
  <option value="Other">Other</option>
		</select> 
        
		<form action="index.html" required>
		MISSED TIME:
		<input type="text" name="missedpunch" value=		        "12:00AM">
			<br><br />
		<input id="mybutton" type="submit" value="Submit">
		</form>

	</div>

			<br /><br />
		   <img src="wfhb.gif" />

</div>

</body>
</html>
